body {
    background-color: pink;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

#todo-container {
    background-color: #b4adea9c;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    color: #0a2342;
    border-radius: 15px;
    box-shadow: 0 0 20px 0px white;
}

#header {
    margin: 5px;
    font-size: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

#input-box {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 20px;
    border-color: pink;
}

#input-button {
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #d1454c;
}

#input-button:hover {
    background-color: #d1454cbd;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    text-align: left;
}

li {
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    margin-top: 10px;
}

.completed {
    text-decoration: line-through;
    color: gray;
    border: 1px solid gray;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 2rem;
    padding: 0.1rem;
    border: 0.25rem solid green;
    border-radius: 0.5rem;
}

input[type="checkbox"]::before {
    content: "";
    width: 1.1rem;
    height: 1.1rem;
    clip-path: polygon(10% 50%,
            20% 40%,
            40% 60%,
            80% 10%,
            90% 20%,
            40% 80%,
            10% 50%);
    transform: scale(0);
    background-color: green;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:hover {
    color: black;
}

.btn-custom-cancel {
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ddd;
}

.btn-custom-cancel:hover {
    background-color: #e0e0e0;
}

.btn-custom-delete {
    background-color: #770c00cf;
    color: white;
    border: 1px solid #7e1106;
}

.btn-custom-delete:hover {
    background-color: #770c00;
}

#error-div {
    padding-top: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: auto;
    padding: 20px;
}

.modal-content {
    position: relative;
    background-color: #fff;
    /* border: 1px solid #999; */
    border-radius: 4px;
    outline: 0;
    box-shadow: 0px 0px 20px 2px #d10f0f5c;
    background-color: #f27070;
}

.modal-header {
    border-bottom: none;
}

.modal-body {
    position: relative;
    padding: 15px;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    align-items: center;
    justify-content: center;
    border-top: none;
}

.modal-open {
    overflow: hidden;
}

.close {
    color: #000;
    float: right;
    font-size: 21px;
    font-weight: bold;
}

.close:hover {
    color: red;
}

.edit-btn {
    float: right;
    color: #00008b;
    cursor: pointer;
    margin: 3px 5px;
    border: none;
    padding: 3px 5px;
    background: none;
    flex-shrink: 0;
}

.delete-btn {
    float: right;
    color: crimson;
    cursor: pointer;
    margin: 3px 5px;
    border: none;
    padding: 3px 5px;
    background: none;
    flex-shrink: 0;
}

.taskList {
    margin-top: 15px;
}

.divCheckbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.labelCheckbox {
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin-bottom: 0px;

}

.divCheckbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.spanTask {
    display: inline-block;
    word-break: break-word;
    white-space: normal;
    margin-left: 5px;
    width: 100%;
}

.actions {
    display: flex;
    flex-shrink: 0;
}

.edit-btn,
.delete-btn {
    flex-shrink: 0;
}
